body {
    margin: 0;
    padding: 0;
    font-family: 'Harry Potter', sans-serif;
}

.logo-cadastro {
    position: absolute;
    top: 40px;
    left: 50%;
    transform: translateX(-50%);
}

.logo-cadastro {
    height: 20px;
}

.container-cadastro {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(./imgs/background_space.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}